@use "styles/breakpoints.scss" as breakpoints;
@use "styles/mixins" as mixins;

.course-card {
  --course-card-overlay-opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 1px solid rgb(var(--stroke-gray-color));
  position: relative;
  overflow: hidden;
  padding: 6px;

  @include mixins.hover {
    --course-card-overlay-opacity: 1;
  }

  &__image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 55%;
  }

  &__image-inner {
    position: absolute;
    inset: 0;
    overflow: hidden;
    border-radius: 20px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: var(--course-card-overlay-opacity);
    background-color: rgb(var(--main-dark-color) / 0.7);
    @include mixins.animate(opacity);
  }

  &__title {
    padding-inline: 16px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;

    &.MuiTypography-root {
      font-size: 16px;
    }
  }

  &__update-time {
    position: absolute;
    top: 14px;
    left: 8px;
    z-index: 1;
    background-color: rgb(var(--white-color));
    padding-inline: 8px;
    border-radius: 10px;

    @include mixins.media(tablet, max) {
      font-size: 14px;
    }
    @include mixins.media(tablet) {
      left: 14px;
    }

    &.MuiTypography-root {
      color: rgb(var(--main-dark-color));
    }
  }

  &__status {
    position: absolute;
    bottom: 14px;
    left: 8px;
    z-index: 1;
    background-color: rgb(var(--white-color));
    padding-inline: 8px;
    border-radius: 10px;

    @include mixins.media(tablet, max) {
      font-size: 14px;
    }

    @include mixins.media(tablet) {
      left: 14px;
    }

    &.MuiTypography-root {
      color: rgb(var(--main-dark-color));
    }
  }
}
