@use "styles/mixins.scss" as mixins;
@use "styles/breakpoints.scss" as breakpoints;

.header-profile {
  padding-block: 8px;
  box-shadow: var(--header-shadow);
  position: relative;
  z-index: 1;

  &__container {
    &.MuiContainer-root {
      display: grid;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: 86px 1fr;
      gap: 20px;

      @include mixins.media(breakpoints.$mobile_breakpoint_min) {
        gap: 40px;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: grid;
    align-items: center;

    @include mixins.media(breakpoints.$mobile_breakpoint_min) {
      gap: 40px;
      grid-template-columns: 1fr auto;
    }
  }

  &__nav-left .navigation {
    @include mixins.media(breakpoints.$mobile_breakpoint_max, max) {
      display: none;
    }
  }

  &__nav-center {
    display: none;

    @include mixins.media(breakpoints.$mobile_breakpoint_min) {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    a {
      color: rgb(var(--main-element-color));
      font-size: 14px;
    }
  }

  &__nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  &__nav-right {
    place-self: end;
    margin-left: auto;

    .MuiButtonBase-root {
      min-width: auto;
      padding: 0;
      min-height: 30px;
    }

    svg {
      color: rgb(var(--main-element-color));

      @include mixins.media(tablet) {
        font-size: 30px;
      }
    }
  }

  &__tools {
    a {
      display: flex;
      align-items: center;
      color: inherit;
    }

    .active {
      color: rgb(var(--brand-color));

      svg {
        color: inherit;
      }
    }
  }
}
