@use "styles/mixins.scss" as mixins;

.course-complain {
  &__toggler {
    > .MuiSvgIcon-root {
      font-size: 30px;
    }

    .MuiButton-endIcon {
      margin-left: 0;

      > svg {
        font-size: 30px;
      }
    }
  }
}

.course-complain-menu {
  &__button {
    &.MuiButtonBase-root {
      min-height: auto;
      justify-content: start;
      font-weight: 400;
    }

    .MuiButton-startIcon > *:nth-of-type(1) {
      font-size: 26px;
    }
  }
}
