@use "styles/mixins" as mixins;

.auth-form {
  &__caption-text {
    &.MuiTypography-root {
      color: rgb(var(--dark-color));
    }

    a {
      text-decoration: underline;
      color: rgb(var(--link-color));

      @include mixins.hover {
        text-decoration: none;
      }
    }
  }

  &__terms-control {
    .MuiFormControlLabel-root {
      margin: 0;
      gap: 6px;
    }
  }

  &__btn-submit {
    &.MuiButton-root {
      min-height: 36px;
      font-size: 14px;
      min-width: 120px;

      @include mixins.media(tablet) {
        min-height: 50px;
        font-size: 18px;
      }
    }
  }

  &__auth-btn {
    &.MuiButton-root {
      min-height: 36px;
      justify-content: start;
      font-size: 14px;

      @include mixins.media(tablet) {
        font-size: 20px;
        min-height: 50px;
      }
    }

    .MuiButton-startIcon {
      margin: 0;

      @include mixins.media(tablet) {
        margin-right: 12px;
        // margin: 0 12px 0 0;
      }

      svg {
        font-size: 18px;

        @include mixins.media(tablet) {
          font-size: 36px;
        }
      }
    }
  }

  &__terms-text {
    &.MuiTypography-root {
      font-size: 14px;

      @include mixins.media(tablet) {
        font-size: 16px;
      }
    }

    a {
      text-decoration: underline;
      color: rgb(var(--link-color));

      @include mixins.hover {
        text-decoration: none;
      }
    }
  }

  .MuiFormHelperText-root {
    margin-inline: 0;
  }
}
