@use "styles/mixins" as mixins;

.auth-form {
  &__caption-text {
    &.MuiTypography-root {
      color: rgb(var(--dark-color));
    }

    a {
      text-decoration: underline;
      color: rgb(var(--link-color));

      @include mixins.hover {
        text-decoration: none;
      }
    }
  }

  &__terms-control {
    .MuiFormControlLabel-root {
      margin: 0;
      gap: 6px;
    }
  }

  &__btn-submit {
    &.MuiButton-root {
      min-height: 36px;
      font-size: 14px;
      min-width: 120px;

      @include mixins.media(tablet) {
        min-height: 50px;
        font-size: 18px;
      }
    }
  }

  &__btn-role {
    &.MuiButtonBase-root {
      width: 100%;
      border-radius: 20px;
      font-weight: 400;
    }

    &.active {
      &.MuiButtonBase-root {
        color: rgb(var(--light-color));
        background-color: rgb(var(--dark-color));
      }
    }
  }

  &__auth-btn {
    &.MuiButton-root {
      min-width: 36px;
      min-height: 36px;
      font-size: 20px;
      padding: 8px;
      box-shadow: var(--base-shadow-invisible);
      background-color: rgb(var(--light-color));

      @include mixins.media(tablet) {
        font-size: 30px;
        min-width: 50px;
        min-height: 50px;
      }

      @include mixins.hover {
        background-color: transparent;
        box-shadow: var(--base-shadow);
      }
    }

    svg {
      width: 20px;
      height: 20px;

      @include mixins.media(tablet) {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__terms-text {
    &.MuiTypography-root {
      font-size: 14px;

      @include mixins.media(tablet) {
        font-size: 16px;
      }
    }

    a {
      text-decoration: underline;
      color: rgb(var(--link-color));

      @include mixins.hover {
        text-decoration: none;
      }
    }
  }

  .MuiFormHelperText-root {
    margin-inline: 0;
  }
}
