@use "styles/mixins.scss" as mixins;

.button-rounded-xxs {
  &.MuiButtonBase-root {
    border-radius: 5px;
  }
}

.button-rounded-xs {
  &.MuiButtonBase-root {
    border-radius: 10px;
  }
}

.button-rounded-sm {
  &.MuiButtonBase-root {
    border-radius: 20px;
  }
}

.button-rounded-md {
  &.MuiButtonBase-root {
    border-radius: 25px;
  }
}

.button-rounded-lg {
  &.MuiButtonBase-root {
    border-radius: 30px;
  }
}

.button-rounded-xl {
  &.MuiButtonBase-root {
    border-radius: 50px;
  }
}

.button-preview {
  &.MuiButtonBase-root {
    border: 1px solid rgb(var(--stroke-gray-color));
    color: rgb(var(--main-dark-color));
    background-color: rgb(var(--light-gray-color));
    font-weight: 400;
    border-radius: 25px;

    [data-theme="dark"] & {
      @include mixins.animate(opacity);

      @include mixins.hover {
        opacity: 0.7;
      }
    }
  }

  &.Mui-disabled {
    [data-theme="dark"] & {
      color: rgb(var(--light-gray-color) / 0.4);
      background-color: rgb(var(--light-gray-color) / 0.4);
    }
  }
}

.button-link {
  &.MuiButtonBase-root {
    display: inline-block;
    padding: 0;
    min-height: auto;
    font-weight: 400;
    text-decoration: underline;
    color: rgb(var(--link-color));
    min-width: auto;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: initial;

    @include mixins.hover {
      text-decoration: none;
    }
  }

  &--bold {
    &.MuiButtonBase-root {
      font-weight: 700;
    }
  }
}
