.complain-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item {
    &.MuiListItem-root {
      padding: 8px 14px;
      border-radius: 20px;
      background-color: var(--app-complain-field-bg-color);
      border: 1px solid rgb(var(--gray-stroke-color));
    }
  }

  &__form-label {
    &.MuiFormControlLabel-root {
      margin: 0;
      gap: 10px;
    }
  }
}
