.discount {
  --discount-text-size: 16px;

  display: inline-block;
  border-radius: 20px;
  padding: 6px 12px;
  background-color: rgb(var(--action-color));

  &.MuiBox-root {
    color: rgb(var(--light-accent-color));
    font-size: var(--discount-text-size);
  }

  &--large {
    --discount-text-size: 20px;
  }
}
