.field-box {
  display: block;

  &__title {
    &.MuiTypography-root {
      margin-bottom: 4px;
      font-weight: 400;
      text-transform: capitalize;
      font-size: 16px;
    }
  }

  &__subtitle {
    &.MuiTypography-root {
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  .MuiInputBase-root {
    .MuiInputBase-input {
      &::placeholder {
        text-transform: capitalize;
      }
    }
  }

  a {
    color: rgb(var(--main-black-color));
  }
}
