.image-upload {
  position: relative;

  &--wide {
    width: 100%;
  }

  &--wide &__preview {
    max-width: 100%;
    padding-top: 40%;
  }

  &__preview {
    position: relative;
    width: 100%;
    padding-top: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__avatar {
    &.MuiAvatar-root {
      position: absolute;
      inset: 0;
    }
  }
}
