.dialog-modal {
  &--large {
    .MuiPaper-root {
      max-width: 700px;
    }
  }

  &--extra-large {
    .MuiPaper-root {
      max-width: 870px;
    }
  }

  &__close-btn {
    &.MuiButtonBase-root {
      position: absolute;
      top: 14px;
      right: 14px;
      min-height: 24px;
    }
  }
}
