$ratingNumberColor: #faaf00;
$ratingAmountColor: #777;
$mainFontSize: 15px;
$mainFontSizeLarge: 20px;

.rating {
	display: flex;
	font-size: $mainFontSize;
	font-weight: 400;

	&__number {
		color: $ratingNumberColor;
	}

	.MuiRating-icon {
		font-size: 17px;
	}

	&__rating-amount {
		font-size: $mainFontSize;
		font-weight: 400;
		color: $ratingAmountColor;
	}

	// rating large styles

	&--large {
		display: flex;
		font-size: $mainFontSizeLarge;
		font-weight: 400;

		.MuiRating-icon {
			font-size: 25px;
		}
	}

	&--large & {
		&__rating-amount {
			font-size: $mainFontSizeLarge;
			font-weight: 400;
			color: $ratingAmountColor;
		}
	}
}
