$mainTextColor: #fff;

@mixin flex-items-center {
  display: flex;
  align-items: center;
}

.user-header {
  @include flex-items-center;
  color: $mainTextColor;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;

  &__panel-name {
    color: $mainTextColor;
    text-decoration: none;

    & > h2 {
      font-size: 25px;
      font-weight: 700;
    }
  }

  &__nav-block {
    @include flex-items-center;
    justify-content: space-between;
    & > a {
      @include flex-items-center;
      font-size: 20px;
      font-weight: 400;
      color: $mainTextColor;
      text-decoration: none;
      margin-right: 20px;
    }
  }

  &__student-btn {
    color: $mainTextColor;
    text-decoration: none;

    & > h2 {
      font-size: 25px;
      font-weight: 700;
    }
  }
}
