@use "styles/mixins.scss" as mixins;

.feature {
  --visibility-decor-line-horizontal: none;
  --visibility-decor-line-vertical: none;
  --top-position-decor-line: 14px;
  --left-position-decor-line: 24px;
  --width-decor-line: 16px;

  position: relative;
  padding-bottom: 30px;

  @include mixins.media(tablet) {
    --width-decor-line: 12px;
    --left-position-decor-line: 16px;
  }

  @include mixins.media(tablet_lg) {
    padding-bottom: 64px;
  }

  @include mixins.media(desktop) {
    --width-decor-line: 26px;
    --left-position-decor-line: 40px;
  }

  &.with-line {
    @include mixins.media(tablet) {
      --visibility-decor-line-horizontal: block;
      --visibility-decor-line-vertical: block;
    }
  }

  &.last-with-line {
    @include mixins.media(tablet) {
      --visibility-decor-line-horizontal: none;
      --visibility-decor-line-vertical: block;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    border: 1px dashed rgb(var(--element-color));
    top: var(--top-position-decor-line);
    left: calc(var(--left-position-decor-line) * -1);
  }

  &::before {
    width: var(--width-decor-line);
    display: var(--visibility-decor-line-vertical);
  }

  &::after {
    bottom: calc(var(--top-position-decor-line) * -1);
    display: var(--visibility-decor-line-horizontal);
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: 28px;

    &::after {
      content: "";
      border: 1px dashed rgb(var(--element-color));
      flex: 1;
    }
  }

  &__title {
    max-width: 80%;
  }
}
