@use "styles/mixins.scss" as mixins;

.section-hero {
  padding-block: 40px;

  @include mixins.media(tablet_lg) {
    padding-top: 82px;
  }

  &__subtitle {
    display: inline-block;
    padding-block: 8px;
    padding: 4px 10px;
    border-radius: 25px;

    @include mixins.media(tablet) {
      padding-inline: 24px;
    }
  }

  &__image {
    max-width: 220px;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    display: block;

    @include mixins.media(mobile) {
      max-width: 300px;
    }

    @include mixins.media(tablet) {
      max-width: 320px;
      height: 320px;
    }
  }
}
