@use "styles/mixins.scss" as mixins;

.create-course-nav {
  padding: 16px 14px;
  border-radius: 25px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &.MuiList-root {
      padding: 0 16px;
    }
  }

  &__item {
    &.MuiListItem-root {
      justify-content: space-between;
      padding: 0;
      gap: 10px;
    }
  }

  &__link {
    &.MuiTypography-root {
      font-weight: 300;
      color: currentColor;
      text-decoration: none;
      padding-block: 8px;
      font-size: 16px;

      @include mixins.animate(color);

      &.active-page {
        font-weight: 700;
      }

      &:not([aria-current="page"]) {
        @include mixins.hover {
          color: rgb(var(--brand-color));
        }
      }
    }
  }

  &__action {
    &.MuiButtonBase-root {
      font-weight: 300;
      padding-inline: 16px;
      justify-content: start;
      min-height: 36px;
      font-size: 16px;
      background-color: rgb(var(--stroke-gray-color));

      @include mixins.hover {
        color: rgb(var(--light-accent-color));
        background-color: rgb(var(--dark-accent-color));
      }

      [data-theme="dark"] & {
        color: rgb(var(--main-dark-color));
      }
    }
  }
}
