.onboardingSwiper .swiper-pagination {
  --swiper-pagination-color: #643dff;
  --swiper-pagination-bullet-inactive-color: #c4c4c4;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 20px;
  --swiper-pagination-bullet-horizontal-gap: 20px;

  position: initial !important;
  padding-top: 40px;
}
