.slider {
  --swiper-pagination-color: #5057ff;
  --swiper-pagination-bullet-inactive-color: #f9f9f9;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-horizontal-gap: 5px;
}

.swiper-pagination {
  position: initial !important;
  padding-top: 20px;
}

.slider-image-box {
  position: relative;
  & > img {
    object-fit: cover;
    width: 480px;
    height: 450px;
  }

  &__text {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
}
