.drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px;
  box-shadow: 0 2px 5px 0 rgb(var(--dark-color) / 0.2);

  &__close {
    width: 30px;

    svg {
      width: 30px;
    }
  }
}
