@use "styles/mixins.scss" as mixins;

.section-feature {
  padding-block: 40px;

  &__wrapper {
    @include mixins.media(tablet) {
      padding: 0 20px 0 16px;
    }

    @include mixins.media(desktop) {
      padding: 0 20px 0 60px;
    }
  }

  &__feature-col {
    &:nth-last-child(-n + 3) {
      .feature {
        @include mixins.media(tablet_lg) {
          padding-bottom: 0;
        }
      }
    }
  }
}
