@use "styles/mixins.scss" as mixins;

.create-course-layout {
  --collapsed-navigation-width: 100%;

  flex: 1;

  &__container {
    position: relative;
  }

  &__grid {
    @include mixins.animate(grid-template-columns);

    @include mixins.media(desktop) {
      --collapsed-navigation-width: 350px;

      display: grid;
      grid-template-columns: var(--collapsed-navigation-width) 1fr;
      gap: 20px;
    }
  }

  &__aside {
    position: relative;
    z-index: 2;
    background-color: rgb(var(--light-color));

    @include mixins.media(desktop, max) {
      display: none;
    }
  }

  &__menu-opener {
    &.MuiButtonBase-root {
      margin-bottom: 20px;

      @include mixins.media(desktop) {
        display: none;
      }
    }
  }

  .error-limits {
    padding: 4px 10px;
    border-radius: 25px;
    background-color: rgb(var(--warning-extra-light-color2));
    margin-bottom: 30px;

    @include mixins.media(tablet) {
      position: absolute;
      top: -50px;
      left: 20px;
      right: 20px;
    }

    a {
      text-decoration: underline;
      color: rgb(var(--link-color));

      @include mixins.hover {
        text-decoration: none;
      }
    }
  }
}
