@use "styles/mixins.scss" as mixins;

.section-about {
  padding-top: 40px;
  padding-bottom: 40px;

  &__panel {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 30px 20px;

    @include mixins.media(tablet_lg) {
      padding: 40px;
    }
  }

  &__title {
    &.MuiTypography-root {
      font-weight: 300;
      margin-bottom: 36px;

      @include mixins.media(desktop) {
        font-size: 48px;
        margin-bottom: 56px;
      }
    }
  }

  &__image {
    object-fit: cover;
    height: auto;

    @include mixins.media(tablet_lg) {
      height: 260px;
    }
  }
}
