@use "styles/mixins" as mixins;

.section-account-verification {
  &__content {
    text-align: center;
  }

  a {
    text-decoration: underline;
    color: rgb(var(--link-color));

    @include mixins.hover {
      text-decoration: none;
    }
  }
}
