* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

body {
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.button-link {
  &.MuiButtonBase-root {
    display: inline-block;
    padding: 0;
    min-height: auto;
    font-weight: 400;
    text-decoration: underline;
    color: rgb(var(--link-color));
    min-width: auto;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: initial;

    &:hover {
      text-decoration: none;
    }
  }
}
