@use "./mixins.scss" as mixins;

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

body {
  font-family: "Noto Sans", sans-serif;
  min-height: 100dvh;
}

a {
  text-decoration: none;
  @include mixins.animate(color);
}

img {
  max-width: 100%;
}

.button-link {
  &.MuiButtonBase-root {
    display: inline-block;
    padding: 0;
    min-height: auto;
    font-weight: 400;
    text-decoration: underline;
    color: rgb(var(--link-color));
    min-width: auto;
    font-size: inherit;
    font-weight: inherit;
    vertical-align: initial;

    @include mixins.hover {
      text-decoration: none;
    }
  }

  &--bold {
    &.MuiButtonBase-root {
      font-weight: 700;
    }
  }
}

.button-preview {
  &.MuiButtonBase-root {
    border-radius: 25px;
    border: 1px solid rgb(var(--gray-stroke-color));
    background-color: rgb(var(--light-element-color));
    font-weight: 400;
  }
}
