:root {
  --light-color: 255 255 255; //#ffffff;
  --brand-color: 99 97 255; //#6361ff
  --action-color: 255 28 96; //#ff1c60

  --violet-color-100: 239 238 253; // #EFEEFD
  --violet-color-200: 239 239 255; // #EFEFFF

  --main-element-color: 32 32 32; // #202020
  --light-element-color: 248 248 248; //#f8f8f8
  --gray-stroke-color: 234 234 234; //#eaeaea

  --warning-extra-light-color: 255 153 178; //#ff99b2
  --warning-light-color: 238 44 44; //#ee2c2c
  --warning-base-color: 182 48 48; //#b63030

  --success-base-color: 48 182 134; //#30b686
  --gray-color-300: 196 196 196; //#c4c4c4
  --gray-color-400: 102 102 102; //#666666
  --gray-color-500: 130 130 130; //#828282
  --yellow-color: 250 175 0; //#faaf00

  --link-color: var(--brand-color);

  --base-shadow: 0 2px 6px 0 rgb(var(--main-element-color) / 0.25);
  --base-shadow-invisible: 0 2px 6px 0 rgb(var(--main-element-color) / 0);
  --header-shadow: 0 2px 5px 0 rgb(var(--main-element-color) / 0.2);

  --transition-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
