:root {
  --light-accent-color: 255 255 255; //#FFFFFF;
  --dark-accent-color: 32 32 32; // #202020

  --brand-color: 99 97 255; //#6361FF
  --action-color: 255 28 96; //#FF1C60

  --error-text-color: 182 48 48; //#B63030
  --error-border-color: 238 44 44; //#EE2C2C
  --error-background-color: 255 242 242; //#FFF2F2

  --success-color: 242 255 243; //#F2FFF3
  --success-stroke-color: 175 237 192; //#AFEDC0
  --success-font-color: 48 182 134; //#30b686

  --light-brand-color: 239 239 255; // #EFEFFF

  --light-gray-color: 248 248 248; //#F8F8F8
  --stroke-gray-color: 234 234 234; //#EAEAEA
  --input-field-border-color: 196 196 196; //#c4c4c4
  --filled-text-color: 120 120 120; //#787878

  --rating-color: 255 201 64; //#FFC940

  --main-dark-color: var(--dark-accent-color);
  --main-element-contrast-color: var(--light-accent-color);
  --link-color: var(--brand-color);

  --base-shadow: 0 2px 6px 0 rgb(var(--dark-accent-color) / 0.25);
  --base-shadow-invisible: 0 2px 6px 0 rgb(var(--dark-accent-color) / 0);
  --header-shadow: 0 2px 5px 0 rgb(var(--dark-accent-color) / 0.2);

  --transition-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

  --app-modal-bg-color: rgb(var(--main-element-contrast-color));
  --app-block-lecture-bg-color: rgb(var(--brand-color));
  --app-block-lecture-aside-bg-color: rgb(var(--light-accent-color));
  --app-block-lecture-field-bg-color: rgb(var(--light-accent-color));
  --app-course-btn-card-bg-color: rgb(var(--light-gray-color));
  --app-complain-field-bg-color: rgb(var(--light-gray-color));
  --app-video-description-border-color: transparent;
  --app-collapsed-navigation-bg-color: rgb(var(--light-accent-color));
  --app-accordion-progress-color: rgb(var(--light-accent-color));
  --app-auth-tab-color: rgb(var(--brand-color));
}

html[data-theme="dark"] {
  --input-field-border-color: 255 255 255; //#FFFFFF

  --dark-accent-color: 255 255 255; // #ffffff
  --main-element-contrast-color: 32 32 32; // #202020
  --main-dark-color: var(--main-element-contrast-color);

  --brand-color: 99 97 255; // #ffffff

  --app-block-lecture-bg-color: "transparent";
  --app-block-lecture-aside-bg-color: "transparent";
  --app-block-lecture-field-bg-color: "transparent";
  --app-course-btn-card-bg-color: transparent;
  --app-complain-field-bg-color: transparent;
  --app-video-description-border-color: rgb(var(--stroke-gray-color));
  --app-collapsed-navigation-bg-color: rgb(var(--main-dark-color));
  --app-accordion-progress-color: rgb(var(--main-dark-color));
  --app-auth-tab-color: rgb(var(--dark-accent-color));
}
