:root {
  --light-color: 255 255 255; //#ffffff;
  --dark-color: 0 0 0; //#000000

  --primary-color: 99 97 255; //#6361ff
  --link-color: 104 121 252; //#6879fc
  --cta-color: 255 28 96; //#ff1c60

  --text-color: 63 69 74; //#3f454a
  --element-color: 32 32 32; // #202020

  --light-element-color: 248 248 248; //#f8f8f8
  --gray-stroke-color: 234 234 234; //#eaeaea

  --warning-extra-light-color: 255 153 178; //#ff99b2
  --warning-light-color: 238 44 44; //#ee2c2c
  --warning-base-color: 182 48 48; //#b63030

  --success-base-color: 48 182 134; //#30b686
  --success-extra-light-color: 242 255 243; //#f2fff3
  --success-light-color: 175 237 192; //#afedc0
  --success-dark-color: 50 156 86; //#329c56

  --gray-color-300: 217 217 217; //#d9d9d9
  --gray-color-400: 196 196 196; //#c4c4c4
  --gray-color-500: 189 189 189; //#bdbdbd
  --gray-color-600: 102 102 102; //#666666
  --gray-color-700: 130 130 130; //#828282
  --gray-color-800: 249 249 249; //#f9f9f9
  --gray-color-900: 243 243 243; //#f3f3f3

  --yellow-color: 250 175 0; //#faaf00
}
