$height: 500px;

.pictures-section {
  height: $height;

  &__image-box {
    position: relative;

    > img {
      max-width: 100%;
    }
  }

  &__text {
    position: absolute;

    color: white;

    font-size: 90px;
    font-weight: 900;

    top: 0;
    //word-wrap: break-word;
    hyphens: auto;

    text-shadow: 0px 4px 4px #00000040;
  }
}
