.password-validation-panel {
  background-color: rgb(var(--light-gray-color));
  border: 1px solid transparent;

  [data-theme="dark"] & {
    background-color: transparent;
    border-color: rgb(var(--light-gray-color));
  }

  &--has-error {
    background-color: rgb(var(--error-background-color));

    [data-theme="dark"] & {
      border-color: rgb(var(--error-text-color));
    }
  }
}
