@use "styles/mixins.scss" as mixins;

.section-auth {
  padding-block: 40px;

  &__container {
    &.MuiContainer-root {
      max-width: 1050px;
      width: 100%;
    }
  }

  &__image {
    max-width: 508px;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    box-shadow: var(--base-shadow);
    border-radius: 20px;
    border-color: rgb(var(--main-element-contrast-color));
    padding: 10px 20px 20px;
    width: 100%;
    background-color: rgb(var(--main-element-contrast-color));

    @include mixins.media(tablet) {
      max-width: 50%;
    }

    @include mixins.media(desktop) {
      max-width: 436px;
    }
  }
}
