.categories-dropdown {
	position: absolute;
	top: 110%;
	display: flex;
	flex-direction: row;
	width: 1200px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
	z-index: 10;

	&__column {
		display: flex;
		flex-direction: column;
		margin: 12px 38px 20px 20px;
		flex: 1;
	}

	&__item {
		font-size: 20px;
		font-weight: 300;
		padding: 10px;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			font-weight: 700;
		}
	}

	&__vertical-line {
		width: 1px;
		background-color: #777;
	}
}
