.rating {
  --review-count-size: 16px;
  --rating-review-size: 16px;

  &--large {
    --review-count-size: 20px;
    --rating-review-size: 20px;
  }

  &__count {
    font-size: var(--review-count-size);
  }

  &__review-count {
    font-size: var(--rating-review-size);
  }
}
