@mixin flex-items-center {
  display: flex;
  align-items: center;
}

.filter {
  background-color: #32449c;
  width: 100%;
  height: 260px;
  padding: 0 220px;

  &__title-block {
    @include flex-items-center;
    margin-bottom: 10px;
  }

  &__title {
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-size: 60px;
  }
  &__search-block {
    @include flex-items-center;
    margin-bottom: 20px;
  }
  &__apply-btn {
    color: #000;
    background-color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 18px 25px;
    cursor: pointer;
  }
  &__clear-btn {
    color: #fff;
    background-color: inherit;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 18px;
    cursor: pointer;
    margin-right: 10px;
  }

  &__categories-block {
    @include flex-items-center;
    justify-content: space-between;
  }

  &__sorting-btn {
    @include flex-items-center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }
}
