@use "styles/mixins.scss" as mixins;

.course-rate {
  &.MuiButtonBase-root {
    font-weight: 400;
    font-size: 14px;
  }

  .MuiButton-startIcon {
    margin-right: 2px;

    > svg {
      @include mixins.media(tablet) {
        font-size: 30px;
      }
    }
  }
}
