@use "styles/mixins.scss" as mixins;
@use "styles/breakpoints.scss" as breakpoints;

.account-menu-tool {
  &.MuiButtonBase-root {
    padding: 0;
  }

  svg {
    color: rgb(var(--dark-accent-color));
    font-size: 30px;
  }
}

.account-menu-dropdown {
  .MuiList-root {
    padding: 0;
  }

  .account-menu {
    width: 220px;
  }
}
