$main-font-family: "Inter", sans-serif;

.basket-list-item {
	padding: 10px 0;

	&__image {
		width: 290px;
		border-radius: 5px;
	}

	&__title {
		font-size: 20px;
		font-weight: 600;
		color: #000;
		margin: 0;
		margin-bottom: 5px;
	}

	&__price-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 5px;
	}

	&__price-wrapp {
		display: flex;
		align-items: center;
	}

	&__total-price {
		font-family: $main-font-family;
		font-size: 20px;
		font-weight: 700;
		color: #000;
		margin-right: 4px;
	}

	&__first-price {
		font-family: $main-font-family;
		font-size: 20px;
		font-weight: 400;
		color: #777;
		text-decoration: line-through;
	}

	&__percentage {
		font-family: $main-font-family;
		font-size: 20px;
		font-weight: 700;
		color: #fb7576;
	}

	&__button-block {
		display: flex;
		align-items: center;
		position: relative;
	}

	&__buy-button {
		font-family: $main-font-family;
		background-color: #082ac9;
		font-size: 15px;
		font-weight: 700;
		color: #fff;
		border: none;
		border-radius: 5px;
		padding: 8px 4px;
		cursor: pointer;
	}

	&__remove-button {
		font-family: $main-font-family;
		background-color: transparent;
		font-size: 15px;
		font-weight: 400;
		color: #082ac9;
		border: none;
		cursor: pointer;
	}
}
