@use "styles/mixins.scss" as mixins;

.dialog-modal {
  &--large {
    .MuiPaper-root {
      max-width: 700px;
    }
  }

  &--extra-large {
    .MuiPaper-root {
      max-width: 870px;
    }
  }

  &--fullscreen {
    .MuiPaper-root {
      width: 100%;
      height: 100%;
      max-height: 100%;
      max-width: 100%;
      border-radius: 0;
      margin: 0;
      padding-inline: 0;
    }

    .dialog-box {
      max-width: 100%;
      width: 100%;
      height: 100%;
      border-radius: 0;
      margin: 0;
    }
  }

  .MuiDialog-container {
    transition-delay: 0.3s;
  }
}

.dialog-box {
  position: relative;
  background-color: var(--app-modal-bg-color);
  padding: 40px 20px 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgb(var(--main-black-color) / 0.25);

  @include mixins.media(tablet) {
    padding: 40px;
  }

  &__close-btn {
    &.MuiButtonBase-root {
      position: absolute;
      top: 14px;
      right: 14px;
      min-height: 24px;
    }
  }
}
