@use "styles/mixins.scss" as mixins;

.auth-tab {
  &__tablist {
    display: flex;
    gap: 14px;
    border-bottom: 1px solid rgb(var(--gray-stroke-color));
    margin-bottom: 20px;
  }

  &__button {
    position: relative;
    display: inline-block;
    padding-block: 12px;
    font-weight: 300;
    color: currentColor;

    @include mixins.hover {
      color: rgb(var(--link-color));
    }

    &[aria-current="page"] {
      color: rgb(var(--link-color));

      &::after {
        content: "";
        position: absolute;
        inset: auto 0 0 0;
        height: 1px;
        background-color: currentColor;
      }
    }
  }
}
