@use "styles/mixins.scss" as mixins;

.account-menu {
  box-shadow: 0 0 3px 0 rgb(var(--dark-color) / 0.25);
  background-color: rgb(var(--light-color));

  &__avatar {
    &.MuiSvgIcon-root {
      font-size: 50px;
    }
  }

  &__link {
    &.MuiButtonBase-root {
      padding: 0;
      min-height: auto;
      min-width: auto;
      line-height: 1.6;
      font-weight: 400;

      @include mixins.hover {
        background-color: transparent;
      }
    }
  }
}

.language-switcher {
  &.MuiInputBase-root {
    height: 34px;
    width: calc(100% - 34px);
  }

  .MuiSelect-select {
    font-size: 16px;
  }

  .MuiSvgIcon-root {
    display: none;
  }
}
