@use "styles/breakpoints.scss" as breakpoints;
@use "styles/mixins" as mixins;

.course-btn-card {
  background-color: var(--app-course-btn-card-bg-color);
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  min-height: 40vw;
  box-shadow: var(--base-shadow);

  @include mixins.animate(box-shadow);

  @include mixins.media(mobile) {
    min-height: auto;
  }

  @include mixins.hover {
    box-shadow: 0px 8px 8px 0px rgb(var(--main-element-color) / 0.3);
  }

  &__inner-box {
    width: 74px;
    height: 74px;
    background-color: rgb(var(--light-color));
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgb(var(--main-element-color) / 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MuiTypography-root {
    font-size: 30px;
  }
}
