@use "styles/breakpoints.scss" as breakpoints;
@use "styles/mixins" as mixins;

.course-btn-card {
  background-color: var(--app-course-btn-card-bg-color);
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  min-height: 40vw;

  @include mixins.media(mobile) {
    min-height: auto;
  }

  &__inner-box {
    width: 74px;
    height: 74px;
    background-color: rgb(var(--light-accent-color));
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgb(var(--dark-accent-color) / 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MuiTypography-root {
    font-size: 30px;
  }
}
