@use "styles/breakpoints.scss" as breakpoints;
@use "styles/mixins" as mixins;

.course-btn-card {
  background-color: rgb(var(--light-element-color));
  width: 100%;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  @include mixins.animate(box-shadow);

  min-height: 14vw;
  @media (min-width: breakpoints.$mobile) {
    min-height: auto;
  }

  &:hover {
    box-shadow: 0px 8px 8px 0px rgb(var(--dark-color) / 0.3);
  }

  &__inner-box {
    width: 74px;
    height: 74px;
    background-color: rgb(var(--light-color));
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgb(var(--dark-color) / 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
