.statistic {
  margin: 0 auto;
  width: 1112px;
  height: 370px;
  background-color: #f8f8f8;
  border: 1px solid #eaeaea;
  border-radius: 25px;
  display: flex;
  padding: 24px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__item {
    width: 156px;
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__itemCount {
    font-weight: 700;
    font-size: 48px;
  }

  &__itemDescription {
    font-weight: 300;
    font-size: 12px;
  }
}
