$profileImgSize: 40px;

.course-card {
  &__headline {
    display: flex;
  }

  &__pfp-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__pfp {
    //width: 40px;
    height: $profileImgSize;
    border-radius: 50%;
  }
}
