@use "styles/mixins.scss" as mixins;
@use "styles/breakpoints.scss" as breakpoints;

.header-profile {
  padding-block: 6px;
  box-shadow: 0 2px 5px 0 rgb(var(--dark-color) / 0.2);

  &__container {
    &.MuiContainer-root {
      display: grid;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: 86px 1fr;
      gap: 20px;

      @include mixins.media(breakpoints.$mobile_breakpoint_min) {
        gap: 40px;
      }
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: auto minmax(auto, 1fr) auto;
    justify-content: space-between;
    align-items: center;

    @include mixins.media(breakpoints.$mobile_breakpoint_min) {
      gap: 40px;
      grid-template-columns: auto 1fr auto;
    }
  }

  &__nav-left .navigation {
    @include mixins.media(breakpoints.$mobile_breakpoint_max, "max") {
      display: none;
    }
  }

  &__nav-center {
    display: none;

    @include mixins.media(breakpoints.$tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      max-width: 240px;
      width: 100%;
    }

    @include mixins.media(breakpoints.$mobile_breakpoint_min) {
      max-width: auto;
    }
  }

  &__nav-right {
    place-self: end;

    .MuiButtonBase-root {
      min-width: auto;
      padding: 0;
    }

    svg {
      font-size: 24px;

      @include mixins.media(breakpoints.$mobile) {
        font-size: 30px;
      }
    }
  }

  &__toggler {
    &.MuiButtonBase-root {
      @include mixins.media(breakpoints.$mobile_breakpoint_min) {
        display: none;
      }
    }

    svg {
      font-size: 30px;
    }
  }
}
