.help-center-page {
  padding-block: 50px;

  &__caption {
    text-align: center;
    font-size: 24px;
    color: rgb(var(--dark-color));
    margin-bottom: 30px;
  }

  &__submit-button {
    float: right;
  }

  &__image {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
