.help-center-page {
  padding-block: 50px;

  &__caption {
    text-align: center;
    font-size: 24px;
    color: rgb(var(--dark-color));
    margin-bottom: 30px;
  }

  &__return-btn {
    border-radius: 50px;
    padding-inline: 30px;
    font-weight: 400;
    color: rbg(var(--dark-color));
  }

  &__image {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  &__check-icon {
    font-size: 250px;
    color: rgb(var(--primary-color));
  }
}
