@use "styles/mixins.scss" as mixins;

.create-course-nav {
  border-radius: 25px;
  padding: 16px 14px;
  box-shadow: var(--base-shadow);

  &__list {
    display: flex;
    flex-direction: column;
    gap: 14px;

    &.MuiList-root {
      padding: 0 16px;
    }
  }

  &__item {
    &.MuiListItem-root {
      padding: 0;
    }
  }

  &__link {
    &.MuiTypography-root {
      font-weight: 300;
      color: currentColor;
      text-decoration: none;
      padding-block: 8px;

      @include mixins.animate(color);

      &.active-page {
        font-weight: 700;
      }

      &:not([aria-current="page"]) {
        @include mixins.hover {
          color: rgb(var(--primary-color));
        }
      }
    }
  }

  &__action {
    &.MuiButtonBase-root {
      font-weight: 300;
      width: 100%;
      padding: 4px 16px;
      justify-content: start;
      min-height: auto;
      border-radius: 20px;
      color: rgb(var(--gray-color-600));
      background-color: rgb(var(--gray-stroke-color));

      @include mixins.animate(color background-color);

      &:hover {
        color: rgb(var(--light-color));
        background-color: rgb(var(--dark-color));
      }
    }
  }
}
