@use "styles/mixins.scss" as mixins;
@use "styles/breakpoints.scss" as breakpoints;

.navigation {
  $mobile_breakpoint_min: breakpoints.$mobile_breakpoint_min;
  --navigation-font-size: 14px;
  --navigation-font-weight: 400;
  --navigation-block-space: 0;

  padding-block: var(--navigation-block-space);

  &--large {
    --navigation-font-size: 16px;
    --navigation-font-weight: 300;
    --navigation-block-space: 4px;
  }

  .header--user-manager & {
    $mobile_breakpoint_min: breakpoints.$tablet_lg;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mixins.media($mobile_breakpoint_min) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 32px;
    }

    &.MuiList-root {
      padding: 0;
    }
  }

  &__item {
    &.MuiListItem-root {
      padding: 0;
      width: initial;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: rgb(var(--main-element-color));

    @include mixins.animate(color);

    @include mixins.hover {
      color: rgb(var(--primary-color));
    }

    &.active {
      color: rgb(var(--primary-color));
    }
  }

  &__icon {
    display: flex;
    color: currentColor;
    margin-right: 6px;
  }

  &__name {
    &.MuiTypography-root {
      color: currentColor;
      font-size: var(--navigation-font-size);
      font-weight: var(--navigation-font-weight);
    }
  }

  &__action {
    color: rgb(var(--light-color));
    background-color: rgb(var(--link-color));
    padding: 4px 14px;
    border-radius: 25px;

    &.active {
      color: rgb(var(--light-color));
    }

    @include mixins.hover {
      color: rgb(var(--light-color));
      font-size: var(--navigation-font-size);
      font-weight: var(--navigation-font-weight);
    }
  }
}
