.placeholder-card {
  background-color: rgb(var(--light-element-color));
  border-radius: 25px;
  max-width: 362px;
  width: 100%;
  min-height: 260px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &__text {
    font-weight: 300;
    color: rgb(var(--gray-color-400));
    max-width: 220px;
    width: 100%;
    margin-inline: auto;
    text-align: center;
  }
}
