@use "styles/mixins.scss" as mixins;

.section-course-hero {
  &__price {
    color: rgb(var(--dark-color));
    font-weight: 400;

    &.MuiTypography-root {
      @include mixins.media(tablet_lg) {
        font-size: 40px;
      }
    }
  }

  &__price--old {
    color: rgb(var(--gray-color-600));
    font-weight: 300;
  }

  &__tools {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;

    @include mixins.media(tablet_lg) {
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.preview-course-image {
  position: relative;
  padding-top: 52%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  &__action {
    &.MuiButtonBase-root {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      border-radius: 50%;
      background-color: rgb(var(--light-color) / 0.6);
      height: 60px;
      height: 60px;

      @include mixins.media(tablet) {
        width: 90px;
        height: 90px;
      }

      @include mixins.media(tablet_lg) {
        width: 130px;
        height: 130px;
      }
    }

    svg {
      width: 30px;
      height: 30px;

      @include mixins.media(tablet) {
        width: 60px;
        height: 60px;
      }

      @include mixins.media(tablet_lg) {
        width: 100px;
        height: 100px;
      }
    }
  }
}

.course-details-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgb(var(--gray-stroke-color));
  padding: 12px 30px;
  border-radius: 20px;

  @include mixins.media(mobile) {
    flex-direction: row;
    border-radius: 50px;
  }
}
