@use "styles/mixins.scss" as mixins;

.account-menu {
  box-shadow: 0 0 3px 0 rgb(var(--dark-accent-color) / 0.25);
  background-color: rgb(var(--main-element-contrast-color));

  &__user {
    a {
      color: currentColor;
    }
  }

  &__avatar {
    &.MuiSvgIcon-root {
      font-size: 50px;
      @include mixins.animate(color);
    }
  }

  &__user--linked {
    @include mixins.hover {
      color: rgb(var(--link-color));

      .MuiTypography-root {
        color: inherit;
      }
    }
  }

  &__user-name {
    @include mixins.animate(color);
  }

  &__link {
    color: inherit;
    font-size: 16px;

    &.MuiButtonBase-root {
      padding: 0;
      min-height: auto;
      min-width: auto;
      line-height: 1.6;
      font-weight: 400;

      @include mixins.hover {
        background-color: transparent;
      }
    }
  }

  .language-switcher {
    &.MuiInputBase-root {
      height: 34px;
      width: calc(100% - 34px);
    }

    .MuiSelect-select {
      font-size: 16px;
    }

    .MuiSvgIcon-root {
      display: none;
    }
  }
}
